footer {
    width: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: $only-grey;

    .footer-contacts {

        .footer-description {
            padding: 25px;
        }

        .call {
            @include buttons;
        }

        .call:hover {
            @include button-hover;
        }
    }
}

.menu-contacts {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    padding-bottom: 30px;
    margin: 0;
    padding-left: 0;
}


.messenger {
    display: flex;
}

.messenger-pic {
    max-width: 100%;
    height: 40px;
}

.last {
    margin-top: 30px;
    margin-bottom: 15px;
}