.nav-table {
    align-items: center;
    width: 100%;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;

    .nav-item {
        padding: 30px;
        padding-top: 20px;
        padding-bottom: 25px;
        font-size: 18px;
    }
}

.line {

    hr {
        height: 2px;
        border: 0;
        background: black;
        max-width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

/*------------------------end of header----------------------------------------*/
/*------------------------the about me block-----------------------------------*/
.about-me {
    background-color: $only-grey;
    background-size: cover;
    overflow: hidden;
    position: relative;

    .about-block {

        .title {
            @include titles;
        }

        .about-description {

            @include descriptions;
        }

        .bottom {
            padding-bottom: 39px;
        }
    }
}

/*------------------------end of the about me block-----------------------------------*/
/*------------------------the portfolio block-----------------------------------*/



.portfolio-block {

    .title {
        @include titles;
    }

    .portfolio-description {
        @include descriptions;
    }

    .projects {
        text-align: center;


        .project-button {
            @include buttons;

        }

        .project-button:hover {
            @include button-hover;
        }

        .swiper {
            display: flex;
            flex-direction: row;
            position: relative;

            .container-buttons {
                position: absolute;
            }

            .swiper-button-prev {
                font-size: 24px;
                font-weight: 500;
                padding: 50px 80px;

            }

            .swiper-button-next {
                font-size: 24px;
                font-weight: 500;

            }
        }

        .swiper-slide {

            height: 300px;


            .swiper-img {
                max-width: 100%;
                position: relative;
            }
        }
    }
}
