$only-grey: #F6F6F6;

@mixin titles {
    color: #000000;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}

@mixin descriptions {

    color: #000000;
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    line-height: 116%;
}

@mixin buttons {
    font-family: Gilroy-Bold, sans-serif;
    background-color: #000000;
    padding: 18px 24px;
    font-size: 20px;
    border-radius: 24px;
    border: solid 1px #000000;
    text-decoration: none;
    color: #FFFFFF;
}

@mixin button-hover {
    background-color: $only-grey;
    color: #000000;
    transition: 0.3s;
}